*{
    margin: 0 auto;
    padding: 0;
}
thead tr th{
    background-color: aquamarine !important;
}

tr td textarea,input{
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
    resize: none;
}
.date{
    width: 100%;
    display: inline-block;
}